body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #161616;
    color: #fff;
     font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;

}
html, body {
  height: 100%;
  margin: 0;
}
header{
    height: 84px;
    width: 100%;
    background-color: #323232;

    display: flex;
    justify-content: space-between;
    border-top-right-radius: 15px;
    border-bottom-right-radius:15px;
    
}
.header-title{
    display: flex;
    letter-spacing: 0px;
}
.header-title-name{
    font-size: 24px;
    margin-top: 25px;
    font-weight: 400;

}
.header-title-img{
    width: 18px;
    height: 28px;
    margin-right: 6px;
    align-self: center;
    margin-left: 24px;
}
.header-menu{
    display: flex;
}
.header-upload, .header-sortby, .article-btn{
    font-size: 14px;
    border: none; 
    background: none;
    padding: 0; 
    appearance: none; 
    font: inherit; 
    cursor: pointer;
    height: 36px;
    align-self: center;
}
.header-upload{
    color: #fff;
    background-color: #d30ce6;
    padding: 5px 10px;
    border-radius: 20px;
    width: 155px;
    margin-right: 16px;

}
.header-sortby{
    color: #bdbdbd;
    margin-right: 20px;
    letter-spacing: 0px;
}
.main-article{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 0px 20px;
    margin-top: 20px;
    flex: 1;   
}
.article-block{
    background-color: #323232;
    border-radius: 24px;
    height: 160px;
    display: flex;
    flex-direction: column;
    padding: 16px;
}
.article-subtitle{
    color: #bdbdbd;
    font-size: 14px;
    margin-bottom: 16px;
    line-height: 20px;
}
.article-btn{
    color: #161616;
    background-color: #fff;
    font-size: 14px;
    height: 38px;
    border-radius: 24px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;

}
.article-title{
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;

}
.footer-main{
    width: 100%;
    background-color: #323232;
    display: flex;
    justify-content: space-between;
    
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
footer {
    background: #333;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 4px 0;  

}
.footer-list{
    display: flex;
    list-style-type: none;
}
.footer-title{
    font-size: 16px;
    margin-left: 24px;
    font-weight: 400;

}
.footer-link{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 400;


}
.footer-item{
    margin-right: 18px;
}
.search-input{
    color: #94A3B8;
    width: 400px;
    all: unset;
    box-sizing: border-box; 
    letter-spacing: -1px;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 4px;
    padding-left: 5px;

    
}
.search-form{
    align-self: center;  
    margin-left: 24px;
    border: 1px solid white;
    opacity: 50%;
    border-radius: 24px;
    width: 400px;
}